@import "./theme.scss";

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: color(text);
}

body {
  font-family: 'Raleway', 'Montserrat', sans-serif;
  font-size: 1rem;
}