@import "../../../assets/scss/theme.scss";

.select_container {
  width: 100%;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 3.125rem;
    height: 3.26rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: color(accent);
    border-radius: 0 5px 5px 0;
    pointer-events: none;
  }
}

.select {
  width: 100%;
  padding: 1rem;
  appearance: none;
  border: none;
  border-radius: 5px;
  outline: none;
  font-family: 'Raleway', 'Montserrat', sans-serif;
  font-size: 1rem;
}