@import '../../../assets/scss/theme.scss';

.hero {
  width: 100%;
  background-color: color(primaryLighten);
  
  &__wrapper {
    min-height: 13.75rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-image: url("../../../assets/svg/hero bg.svg");
    background-position: top center;
    background-size: cover;
  }

  &__headline {
    line-height: 1.5;
  }
}