@import "../../../assets/scss/theme.scss";
@import "../../../assets/scss/media.scss";

.form {
  width: 100%;
  padding: 3rem;
  background-color: color(primaryLighten);
  border: 1px solid color(secondary);
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  @include breakpoint(lg) {
    max-width: 29.5rem;
  }
}