@import "../../../assets/scss/media.scss";
@import "../../../assets/scss/theme.scss";

$spacing: (
  "sm": 0.5rem,
  "md": 2rem,
  "lg": 3rem,
  "no-left": 0,
  "no-right": 0
);

.grid {
  &_container {
    display: flex;
    flex-wrap: wrap;
    min-height: 24rem;

    @include breakpoint(lg) {
      justify-content: space-between;
    }
  }

  &_item {
    display: block;
  }

  @include breakpoint(sm) {
    @each $name, $value in $spacing {
      &_sm_gap_#{$name} > &_item {
        padding: 0 $value;
      }
    }
  }

  @include breakpoint(lg) {
    @each $name, $value in $spacing {
      &_lg_gap_#{$name} > &_item {
        padding: 0 $value;
      }
    }
  }

  @for $i from 1 to 13 {
    &_xs_#{$i} {
      flex-basis: ($i / 12) * 100%;
    }
  }

  @include breakpoint(sm) {
    @for $i from 1 to 13 {
      &_sm_#{$i} {
        flex-basis: ($i / 12) * 100%;
      }
    }
  }
  @include breakpoint(md) {
    @for $i from 1 to 13 {
      &_md_#{$i} {
        flex-basis: ($i / 12) * 100%;
      }
    }
  }
  @include breakpoint(lg) {
    @for $i from 1 to 13 {
      &_lg_#{$i} {
        flex-basis: ($i / 12) * 100%;
      }
    }
  }
  @include breakpoint(xl) {
    @for $i from 1 to 13 {
      &_xl_#{$i} {
        flex-basis: ($i / 12) * 100%;
      }
    }
  }

  &_drinksList {
    background-color: color(primary);
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid color(secondary);
    margin-bottom: 2rem;
  }
}
