@import "../../../../assets/scss/theme.scss";
@import "../../../../assets/scss/media.scss";

$display: (
  "block": block,
  "none": none,
);

.P {
  text-align: center;
  font-size: 1.5rem;
  margin: 2.5rem auto;

  @each $name, $value in $display {
    &_d_#{$value} {
      display: $value;
    }
  }

  @include breakpoint(md) {
    @each $name, $value in $display {
      &_d-md_#{$value} {
        display: $value;
      }
    }
  }

  @include breakpoint(lg) {
    text-align: left;
    margin: 0;
    margin-bottom: 1.5rem;
  }

  &_light {
    font-weight: bold;
    color: color(primaryLighten);
    user-select: none;
    padding: 0 1rem;

    @include breakpoint(sm) {
      font-size: 1rem;
    }
  }

  &_modal {
    display: block;
    width: 100%;
    text-align: left;
    margin: 1rem 0;

    @include breakpoint(lg) {
      text-align: left;
      margin: 1rem 0;
    }
  }

  &_modal_instructions {
    font-size: 1rem;
    line-height: 1.5;
  }
}
