@import "../../../assets/scss/theme.scss";
@import "../../../assets/scss/media.scss";

.drink {
  width: 100%;
  border-radius: 10px;
  padding: 0.2rem;
  padding-top: 0.4rem;
  border: 2px solid color(secondary);
  margin: 0.5rem 0;
  position: relative;
  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    border: none;
  }

  &_overlay {
    position: absolute;
    z-index: 1;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.5);
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
  }

  &:hover > &_overlay,
  &:focus > &_overlay {
    opacity: 1;
  }
}
